# Ignore all to allow git cloned projects being installed
/vagrant/app/wordpress/4/current
/vagrant/app/drupal/7/current
/vagrant/app/drupal/8/current
/vagrant/app/symfony/2/current
/vagrant/app/symfony/3/current
/vagrant/app/sonata/current

# Ignore PHPStorm files
.idea

# Ignore Vagrant install
/vagrant/.vagrant

# Ignore nohup file
nohup.out
