# Ignore project current folders
app/wordpress/4/current
app/drupal/7/current
app/drupal/8/current
app/symfony/2/current
app/symfony/3/current
app/symfony/sonata/current
app/custom/seven_manager/current

# Ignore project releases folders
app/wordpress/4/wordpress
app/wordpress/4/releases
app/drupal/7/releases
app/drupal/8/releases
app/symfony/2/releases
app/symfony/3/releases
app/symfony/sonata/releases
app/custom/seven_manager/releases

# Ignore PHPStorm files
.idea
*.zip
*.swp

# Ignore Vagrant install
.vagrant
html

# Ignore nohup file
nohup.out
